/* Mobile Layout: 480px and below. */
@charset "utf-8";
html {
	height:100%;
}
body {
	font-family: dosis;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	height:100%;
	background:url(../images/background_overlay.png) #333333;
}
body, a, a:link, a:visited {
	color:white;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
* {
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
}/**/

.bgrey {
	background-color: #333333 !important;
}
.byellow {
	background-color: #FFC000 !important;
}
.bblue {
	background-color:#007BFF !important;
}
  
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-left: 0%;
	padding-right: 0%;
	clear: none;
	float: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
}
header {
	background-color: #FFC000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	display: block;
	font-size:0px;
	overflow:hidden;
	position:relative;
}
header .centerContainer {
	position:relative;
	overflow:visible;
}
header a, header a:link, header a:visited {
	display: block;
	text-decoration: none;
	font-size: 35px;
	text-transform: uppercase;
	color: white;
	float: left;
	background-color: transparent;
	padding: 15px 20px;
	width: 100%;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
header a:hover {
	background-color:#333;
}
header #nsmlogo {
	font-weight: 500;
}
header #headercontact {
	position: absolute;
	right: -120%;
	top: 0px;
	background-color: #333;
	-webkit-box-shadow: 0px 0px 20px #000000;
	box-shadow: 0px 0px 20px #000000;
}
header #headercontact:hover {
	background-color:transparent;
}
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:500;
	margin:0px;
	padding:0px;
}
h1, h2 {
	font-weight:200;
	text-transform:uppercase;
}
h1 {
	font-size:2em;
}
h2 {
	font-size:1.5em;
}
p {
	padding:0px;
	margin:0px;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

.fluid {
	clear: both;
	width: 100%;
	float: left;
	display: block;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}
#div1 {
}
#logo {
}
.centerContainer {
	width: 100%;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	positon: relative;
	height: auto;
}

.zeroMargin_mobile { 
margin-left: 0;
}
.hide_mobile { 
display: none !important;
}

section.divider {
	display:block;
	height:20%;
	clear:both;
	background-image:url(../images/background_overlay.png);
	background-position:center center;
	background-repeat:repeat;
	background-color:#333;
}


/* Page Headers */
.headerad {
	display:block;
	position:relative;
	height:auto;
	overflow:hidden;
}
.headerad .hbackground {
	display:block;
	height:100%;
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
	z-index:1;
}
.headerad .hbackground.diagonal {
	transform:rotate(-5deg);
	transform-origin:0px 0px;
	-webkit-transform:rotate(-5deg);
	-webkit-transform-origin:0px 0px;
	-moz-transform:rotate(-5deg);
	-moz-transform-origin:0px 0px;
	-o-transform:rotate(-5deg);
	-o-transform-origin:0px 0px;
	-ms-transform:rotate(-5deg);
	-ms-transform-origin:0px 0px;
	height:500%;
	width:205%;
	top:60px;
	left:-5%
}
.headerad .centerContainer {
	overflow:auto;
	padding:5px 0px;
	position:relative;
	z-index:2;
	font-size:0px;
}
.headerad .maintitle {
	display:inline-block;
	width:100%;
	height:100%;
	vertical-align:top;
	font-size:18px;
}
.headerad .maintitle h1, .headerad .maintitle h2 {
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.headerad .adcontent {
	display:inline-block;
	width:100%;
	vertical-align:top;
	box-sizing:border-box;
	text-align:right;
	font-size:18px;
}



/* Grid Content */
.gridcontentcontainer {
	position:relative;
}
.gridcontentcontainer .centerContainer {
	display:block;
	position:relative;
	padding:10px 0px;
}

.gridcontentcontainer .header {
	display:block;
}

.gridcontentcontainer .gridcontent {
	display:block;
	font-size:0px;
}
.gridcontentcontainer .gridcontent ul {
	padding:0px;
	margin:0px;
	list-style:none;
	display:inline-block;
}
.gridcontentcontainer .gridcontent ul li {
	width:170px;
	float:left;
	vertical-align:top;
	position:relative;
	height:260px;
	overflow:hidden;
	white-space:nowrap;
	margin:3px 5px;
	cursor:default;
}
	.gridcontentcontainer.bblue .gridcontent ul li {
		background-color:#007BFF;
	}
	.gridcontentcontainer.bgrey .gridcontent ul li {
		background-color: #333333;
	}
	.gridcontentcontainer.byellow .gridcontent ul li {
		background-color: #FFC000;
	}
.gridcontentcontainer .gridcontent ul li:hover {
	transform:scale(1.1);
	-webkit-transform:scale(1.1);
	box-shadow:0px 0px 50px black;
	z-index:5;
}
.gridcontentcontainer .gridcontent ul li:active {
	transform:scale(1.05);
	-webkit-transform:scale(1.05);
	box-shadow:0px 0px 10px black;
	z-index:5;
}
	.gridcontentcontainer.cposter .gridcontent ul li, .gridcontentcontainer .gridcontent ul li.cposter {
		width:150px;
		height:200px;
	}
		.gridcontentcontainer.cposter .gridcontent ul li:hover, .gridcontentcontainer .gridcontent ul li.cposter:hover {
			width:340px;
		}
	.gridcontentcontainer.cdvd .gridcontent ul li, .gridcontentcontainer .gridcontent ul li.cdvd {
		width:340px;
		height:200px;
	}
	.gridcontentcontainer.ccd .gridcontent ul li, .gridcontentcontainer .gridcontent ul li.ccd {
		width:340px;
		height:150px;
	}
.gridcontentcontainer .gridcontent ul li a.tilelink {
	display:block;
	height:100%;
	width:100%;
	text-decoration:none;
	position:relative;
	cursor:default;
}

.gridcontentcontainer .gridcontent ul li .thumbnail {
	width:150px;
	height:100%;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:center center;
	background-color:#333;
	display:inline-block;
	vertical-align:top;
}
.gridcontentcontainer .gridcontent ul li .itemcontent {
	width:186px;
	height:100%;
	display:inline-block;
	white-space:normal;
	position:relative;
	vertical-align:top;
	font-size:16px;
	box-sizing:border-box;
	margin-left:3px;
}
.gridcontentcontainer .gridcontent ul li .itemcontent h3 {
	max-height:60px;
	overflow:hidden;
	text-overflow:ellipsis;
	font-size:1.2em;
	text-transform:uppercase;
}
.gridcontentcontainer .gridcontent ul li .itemcontent .itemdescription {
	overflow:hidden;
	overflow-y:auto;
	display:block;
	height:auto;
	max-height:70%;
}
	.gridcontentcontainer .gridcontent ul li .itemcontent .itemdescription p {
		padding-bottom:10px;
	}
.gridcontentcontainer .gridcontent ul li .itemcontent .buttoncontainer {
	display:block;
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	text-align:center;
	overflow:hidden;
}
.gridcontentcontainer .gridcontent ul li .itemcontent .buttoncontainer .button {
	background-color:red;
	text-transform:uppercase;
	background-image:url(../images/background_overlay.png);
	overflow:hidden;
	padding:5px 10px;
	white-space:nowrap;
	text-overflow:ellipsis;
	box-sizing:border-box;
	display:block;
	max-width:100%;
}
.gridcontentcontainer .gridcontent ul li .itemcontent .buttoncontainer .ppbutton {
	display:block;
	margin:0px auto;
	width:80%;
}



footer {
	display:block;
	background-color:#1A1A1A;
	clear:both;
	float:none;
}
footer a, footer a:link, footer a:visited, footer {
	color:#808080;
}
footer section {
	width: 100%;
	box-sizing: border-box;
	padding: 15px 10px;
	display: block;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	vertical-align:top;
}
footer ul {
	display:block;
	list-style:none;
	padding:0px;
	margin:0px;
}
footer ul li ul {
	padding-left:20px;
}




/* Tablet Layout: 570px to 980px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 570px) {

.gridContainer {
	width: 100%;
	padding-left: 0%;
	padding-right: 0%;
	clear: none;
	float: none;
	margin-left: auto;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
h1 {
	font-size:2.5em
}
h2 {
	font-size:2em;
}
#div1 {
}
#logo {
}
.hide_mobile {
display: inherit !important;
}

.hide_tablet {
display: none !important;
}
.zeroMargin_tablet {
margin-left: 0;
}

header {
	overflow:hidden;
}
header #headercontact {
	right:0px;
}
header a, header a:link, header a:visited {
	width:auto;
}


/* Page Headers */
.headerad .maintitle {
	width:60%;
}
.headerad .hbackground.diagonal {
	top:80px;
	left:-5%
}
.headerad .adcontent {
	width:40%;
	padding-left:5px;
}



footer {
	text-align:center;
}
footer section {
	width: 50%;
	float:left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16px;
}

}

/* Desktop Layout: 980px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 980px) {

.gridContainer {
	width: 100%;
	max-width: 1232px;
	padding-left: 0%;
	padding-right: 0%;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
h1 {
	font-size:3em;
}
h2 {
	font-size:2em
}
#div1 {
}
#logo {
}
.hide_mobile {
display: inherit !important;
}
.centerContainer {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position:relative;
}
header a, header a:link, header a:visited {
	font-size:50px;
	width:auto;
}
header #headercontact {
	right:0px;
}

.zeroMargin_desktop {
margin-left: 0;
}
.hide_desktop {
display: none !important;
}

section.divider {
	height:40%;
}




/* Page Headers */
.headerad .maintitle {
	width:55%;
}
.headerad .hbackground.diagonal {
	top:100px;
	left:-20px;
}
.headerad .adcontent {
	width:45%;
	padding-left:5px;
}



footer  {
	height: 70%;
	display: block;
	overflow:auto;
}
footer .centerContainer {
	height:100%;
	overflow:visible;
}
footer section {
	width: 33.3%;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 15px;
	float:left;
}



}
